.container {
  width: 70%;
  padding: 30px;
  height: 20rem;
  position: absolute;
  top: 20%;
  left: 16%;
  /* margin: auto; */
  /* border: 2px solid black; */
}
.input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 20px 40px -20px;
  padding: 20px;
  border: 3px solid rgba(50, 50, 93, 0.25);
  outline: none;
  border-radius: 5px;
  font-size: 1.4rem;
}
.input::placeholder {
  font-size: 1.6rem;
  color: rgb(69, 57, 248);
  text-transform: capitalize;
}
