.home {
  display: flex;
  justify-content: space-between;
}
.book-container {
  display: flex;
  width: 75%;
  /* border: 2px solid black; */
  padding: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.book {
  margin: 6px;
}
.btn {
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: 4px solid white;
  color: white;
  transition: 0.6s;
  width: 80%;
}
.filters {
  background-color: #e9eff5;
  color: black;
  padding: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 20%;
  margin: 7px;
  /* box-shadow: rgba(29, 32, 177, 0.685) 0px 8px 25px 0px; */
  box-shadow: rgba(100, 149, 168, 0.15) 0px 5px 15px 0px;
  transition: all 0.6s;
  height: 80vh;
}
.filters span {
  font-size: 15px;
  margin: 7px;
  text-align: center;
  padding-bottom: 5px;
}
span.title {
  font-size: 20px;
}
.book {
  width: 22%;
  /* height: 5%; */
  margin: 10px;
}
.card {
  width: 100%;
  text-align: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.6s;
  max-height: 700px;
}
.img {
  /* width: 0px; */
  height: 150px;
  cursor: pointer;
  /* object-fit: cover; */
  /* opacity: 0.7; */
}
.btn {
  margin-top: 8px;
  margin-bottom: 5px;
}
.subtitle {
  padding: 7px;
}
.subtitle-span {
  font-weight: bold;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.outer-container {
  display: flex;
  flex-direction: column;
}
.pagebtn {
  display: inline-block;
  width: 50px;
  padding: 7px;
  border: none;
  font-size: 15px;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  transition: all 0.6s;
}
.inner-container {
  width: 50%;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h1 {
  background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.spinner {
  /* text-align: center; */
  width: 100px;
  margin: auto;
}
.profile-section {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card_container {
  display: flex;
  width: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 15%;
  left: 20%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: all 0.9s;
  animation: ease-in-out;
}
.card_container:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 15px 0px;
}
.image_container {
  overflow: hidden;
  height: 300px;
}
.image_container img {
  width: 200px;
  background-position: center;
  margin-top: 20px;
  /* margin: auto; */
}
.card_content {
  margin: 1rem;
  margin-top: 0.5rem;
}
h2,
h3,
p {
  margin: 0;
  padding: 0;
  text-align: center;
  text-justify: distribute;
}
p {
  font-size: 12px;
}
.card_title {
  margin-bottom: 0.3rem;
}
.btn-book {
  width: 20%;
  /* margin: auto; */
  text-align: center;
  padding: 10px;
}
